TrackMe.GMap/Service References/ServiceReference1/LocationService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/TrackMe.WCF" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TrackMe.WCF" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfPhoneLocation">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PhoneLocation" nillable="true" type="tns:PhoneLocation" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPhoneLocation" nillable="true" type="tns:ArrayOfPhoneLocation" />
  <xs:complexType name="PhoneLocation">
    <xs:sequence>
      <xs:element minOccurs="0" name="Lat" type="xs:double" />
      <xs:element minOccurs="0" name="Lng" type="xs:double" />
      <xs:element minOccurs="0" name="Uid" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PhoneLocation" nillable="true" type="tns:PhoneLocation" />
</xs:schema>